@model IEnumerable<UcakRezervasyon.ViewModels.UcakViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UcakName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoluKoltukSayisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UcakName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DoluKoltukSayisi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UcakId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UcakId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UcakId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
