@model IEnumerable<UcakRezervasyon.ViewModels.GuzergahViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Yeni Uçuş Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuzergahName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuzergahName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuzergahId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuzergahId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuzergahId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<h2>Güzergah Seçimi</h2>
<ul>
    @foreach (var guzergah in Model)
    {
        <li>
            <a asp-action="Index" asp-controller="Ucus" asp-route-guzergahId="@guzergah.GuzergahId">
                @guzergah.GuzergahName
            </a>
        </li>
    }
</ul>
